[submodule "third_party/condy"]
	path = third_party/condy
	url = https://github.com/wokron/condy.git
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio.git
